@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/robkotenko\/Documents\/docs\/learnallthenodes\/app\/stylesheets\/dummy\.less}line{font-family:\000033}}
.system_message {
  background-color: #EEE;
  padding: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/robkotenko\/Documents\/docs\/learnallthenodes\/app\/stylesheets\/dummy\.less}line{font-family:\000037}}
.system_message p {
  color: #00b4ff;
}
