extends ../layouts/home

block content
  h1 join!
  
  form.form-horizontal(action="/sign_up", method="post")
    .form-group
      label.control-label.col-sm-2 Email
      .col-sm-10
        input(type="text", name="email")
      label.control-label.col-sm-2 Password
      .col-sm-10
        input(type="password", name="password")
    .form-group
      .col-sm-offset-2
        button(type="submit") Start!