extends ../layouts/home

block content
  h1 Join the game
  
  form.form-horizontal(action="/sign_up", method="post")
    .form-group
      label.control-label.col-sm-2 Email
      .col-sm-10
        input(type="email", name="email")
    .form-group
      .col-sm-offset-2
        button(type="submit") Start!