extends ../layouts/home

block content
  h1 Web's Premiere Browser Game
  
  h2 Message from Borgoroth
  p 
    :markdown
      This is **markdown**, *intrepid* hero
      
  p
    img(src='/images/sword_and_shield.png')
  a(href='/adventures') Go to the adventure